@import url("https://fonts.googleapis.com/css2?family=Festive&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Festive&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Festive&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,700&family=Varela+Round&display=swap");

.font-festival{
    font-family: "Festive", cursive;
}

.font1 {
  font-family: "Ubuntu Mono", monospace;
}

.font-varela {
  font-family: "Varela Round", sans-serif;
}

body {
  background-color: antiquewhite;
}

* {
  margin: 0;
  padding: 0;
}

 nav {
    font-family: "Varela Round", sans-serif;

}

nav ul li{
    padding: 0 10px;
}

nav ul{
    display:flex ;
    align-items:center;
    /* justify-content:space-b1; */
    list-style-type: none ;
    background-color: black;
    color: white;
    height: 65px;
}
.brand img{
    /* height: 15px; */
    width: 50px;
    padding: 0 80px;
}
.brand {
    display: flex;
    align-items: center;
    margin-right: 10px;
    list-style-type: none;
    font-weight: bolder;
    font-size: 1.3rem;
}

.container{
    min-height: 72vh;
    background-color: black;
    color: white;
    font-family: "Ubuntu Mono", monospace;
    display: flex;
    margin: 23px auto;
    width:80%;
    border-radius: 12px;
    padding:34px;
    background-image: url('bg.jpg');
    background-size:190vh;


}

.bottom{
    background-color: rgb(240, 3, 141);
    color: white;
    height: 100px;
    position: sticky;
    bottom: 0;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
}   
#myprogressbar{
    width:85vw;
    margin: 7px 0;
    cursor: pointer;

}
.icons i{
 cursor: pointer ;
}
.songItem{
    height: 50px;
    /* width: 90%; */
    display: flex;
    background-color: white;
    color: black;
    margin: 12px 0;
    justify-content: space-between;
    align-items: center;
    border-radius: 34px ;
    

}
.timestamp{
margin: 0 25px;
}
.songItem img{
width: 43px;
margin:  10px;
border-radius: 25px;
}

.songList{
    width:35%;
}

h1{
    font-weight: bolder;
    font-size: 20px;
}
.timestamp i{
    cursor: pointer;
}
.songitem-container{
    margin-top: 40px;
}

.songinfo{
    position: absolute;
    left: 9vw;
    font-family: "Varela Round", sans-serif;

}

.songinfo img{
    opacity: 0;
    transition: opacity 0.4s ease-in;
}